@charset "UTF-8";
/* Стандартный transition для hover-анимаций */
/* Миксин замены цвета placeholder у input. 
Нужно добавить в стилях элемента конструкцию вида @include placeholder(#000); */
/* Global styles */
/* IBM Plex Sans-regular - cyrillic_latin */
@font-face {
  font-weight: 300;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  src: url("../fonts/Rubik-Light.ttf") format("ttf"); }

/* IBM Plex Sans-medium - cyrillic_latin */
@font-face {
  font-weight: 400;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  src: url("../fonts/Rubik-Regular.ttf") format("ttf"); }

/* IBM Plex Sans-semi-bold - cyrillic_latin */
@font-face {
  font-weight: 500;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  src: url("../fonts/Rubik-Medium.ttf") format("ttf"); }

/* IBM Plex Sans-bold - cyrillic_latin */
@font-face {
  font-weight: bold;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  src: url("../fonts/Rubik-Bold.ttf") format("ttf"); }

h2 {
  margin: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer; }

a {
  text-decoration: none;
  color: inherit; }
  a:focus {
    outline: none; }

input {
  width: 100%;
  padding: 6px 0;
  text-align: center;
  background: #FFFFFF;
  border: 1px solid #324057;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #19400B; }
  input::-webkit-input-placeholder {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #19400B; }
  input::-moz-placeholder {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #19400B; }
  input::-ms-input-placeholder {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #19400B; }
  input::placeholder {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #19400B; }

.checkbox input[type="checkbox"] {
  display: none; }

/*Checkbox*/
.checkbox__label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 12px;
  line-height: 16px;
  color: #324057;
  padding-left: 25px; }
  .checkbox__label::before, .checkbox__label::after {
    position: absolute;
    content: "";
    display: inline-block; }
  .checkbox__label::before {
    height: 16px;
    width: 16px;
    border: 1px;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    left: 0px;
    top: 0px;
    background-color: #324057; }
  .checkbox__label::after {
    border-left: 2px solid #19400B;
    border-bottom: 2px solid #19400B;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    left: 3px;
    top: 3px; }
  .checkbox__label:hover {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #19400B; }
    .checkbox__label:hover::before {
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }

.checkbox input[type="checkbox"] + label::after {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  height: 0px;
  width: 9px; }

.checkbox input[type="checkbox"]:checked + label::after {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 1;
  height: 5px; }

.checkbox input[type="checkbox"]:checked + label::before {
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  background-color: #FFFFFF; }

/*Adding focus styles on the outer-box of the fake checkbox*/
.checkbox input[type="checkbox"]:focus + label::before {
  outline: red auto 5px; }

/*Switch*/
.checkbox2__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px; }

.checkbox2__input + label {
  font-weight: normal;
  line-height: 24px;
  font-size: 16px;
  position: relative;
  padding: 0;
  padding-left: 40px;
  padding-right: 60px;
  cursor: pointer; }

.checkbox2__input + label:before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0;
  width: 50px;
  height: 26px;
  -webkit-border-radius: 13px;
          border-radius: 13px;
  background: #cdd1da;
  -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.checkbox2__input + label:after {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  width: 22px;
  height: 22px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background: #fff;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.checkbox2__input:checked + label:before {
  background: red; }

.checkbox2__input:checked + label:after {
  right: 26px; }

.checkbox2__input:focus + label:before {
  -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2), 0 0 0 3px red;
          box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2), 0 0 0 3px red; }

textarea {
  resize: none; }
  textarea:focus {
    outline: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; }

input[type="number"] {
  -moz-appearance: textfield; }

.btn {
  font-style: inherit;
  display: block;
  text-align: center;
  cursor: pointer;
  border: 0;
  padding: 6px 0 8px; }

.primary {
  color: #FFFFFF;
  background-color: #19400B;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out; }
  .primary:focus {
    outline: none;
    background-color: #204A71; }
  .primary:hover {
    background-color: #2B5D8A; }
  .primary:active {
    background-color: #183957; }

.secondary {
  color: #FFFFFF;
  background-color: #98F23D;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out; }
  .secondary:focus {
    outline: none;
    background-color: #FFB72B; }
  .secondary:hover {
    background-color: #FFB72B; }
  .secondary:active {
    background-color: #F99500; }

.secondary-2 {
  color: #FFFFFF;
  background-color: #3D7C27;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out; }
  .secondary-2:focus {
    outline: none;
    background-color: #58A1E3; }
  .secondary-2:hover {
    background-color: #58A1E3; }
  .secondary-2:active {
    background-color: #4385C1; }

input[type="submit"] {
  cursor: pointer;
  border: 0; }

img {
  width: 100%;
  height: auto; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.container {
  min-width: 360px;
  padding: 0 16px; }
  @media (min-width: 768px) {
    .container {
      padding: 0 32px;
      margin: 0 auto; } }
  @media (min-width: 1200px) {
    .container {
      width: 1200px;
      padding: 0 70px; } }
  @media (min-width: 1600px) {
    .container {
      width: 1600px;
      margin: 0 auto; } }

.title {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #98F23D;
  margin-bottom: 32px; }
  @media (min-width: 768px) {
    .title {
      font-size: 28px;
      line-height: 32px;
      margin-bottom: 42px; } }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  display: none;
  background: rgba(46, 57, 69, 0.7); }

.overlay-body {
  overflow: hidden; }

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  background-color: #324057;
  min-width: 320px;
  overflow-x: hidden; }
  body * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

/* Plugins */
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  outline: none;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-track {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.slick-dots {
  text-align: center;
  margin-top: 20px; }
  .slick-dots li {
    display: inline-block;
    margin: 0 16px; }
    .slick-dots li button {
      position: relative;
      text-indent: -9999px;
      width: 0;
      height: 0;
      border: none;
      outline: none;
      background: transparent;
      cursor: pointer; }
      .slick-dots li button:before {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        background-color: #3D7C27;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0; }
    .slick-dots li.slick-active button:before {
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: #98F23D; }

/* Blocks */
.icon__phone {
  width: 18px;
  height: 18px;
  fill: #FFFFFF; }

.icon__newspaper, .icon__presentation, .icon__internet, .icon__globe {
  width: 61px;
  height: 64px;
  fill: #3D7C27; }

.icon__prev, .icon__next {
  width: 12px;
  height: 8px;
  fill: #FFFFFF; }

.icon__down {
  width: 8px;
  height: 12px;
  fill: #FFFFFF; }

.icon__star {
  width: 32px;
  height: 32px;
  fill: #DADADA; }

.icon__access, .icon__cafe, .icon__parking, .icon__security {
  width: 24px;
  height: 24px;
  fill: #FFFFFF; }

.icon__parking {
  fill: transparent; }

.icon__metro {
  width: 16px;
  height: 16px; }

.icon__drive-time {
  width: 14px;
  height: 13px;
  fill: #FFFFFF; }

.icon__footsteps {
  width: 16px;
  height: 16px;
  fill: #FFFFFF; }

.header {
  min-height: 50px; }
  .header__container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #98F23D;
    color: #FFFFFF;
    z-index: 1000; }
  .header__nav {
    padding: 12px 16px;
    background-color: #3D7C27;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__listNav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 256px;
    padding: 12px 0 8px;
    background-color: #FFFFFF;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: none; }
  .header__linkNav a {
    display: block;
    padding: 12px 30px; }
    .header__linkNav a.active {
      color: #3D7C27;
      background-color: rgba(98, 107, 116, 0.2); }
  .header__menu {
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 26px; }
  .header__menu-global {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    position: absolute;
    left: 0;
    border-top: 5px solid #98F23D;
    width: 100%;
    -webkit-transition: 0.55s;
    -o-transition: 0.55s;
    transition: 0.55s; }
  .header__menu-top {
    top: 0; }
  .header__menu-middle {
    top: 12px; }
  .header__menu-bottom {
    top: 24px; }
  .header__menu-top-click {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    top: 12px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: 0.55s 0.5s;
    -o-transition: 0.55s 0.5s;
    transition: 0.55s 0.5s;
    border-top: 5px solid #19400B; }
  .header__menu-middle-click {
    opacity: 0; }
  .header__menu-bottom-click {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    top: 12px;
    -webkit-transform: rotate(-405deg);
        -ms-transform: rotate(-405deg);
            transform: rotate(-405deg);
    -webkit-transition: 0.55s 0.5s;
    -o-transition: 0.55s 0.5s;
    transition: 0.55s 0.5s;
    border-top: 5px solid #19400B; }
  .header__feedback {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .header__feedback:hover, .header__feedback:focus {
      -webkit-transition: color 0.3s ease-in-out;
      -o-transition: color 0.3s ease-in-out;
      transition: color 0.3s ease-in-out;
      color: #98F23D; }
      .header__feedback:hover .header__phone-icon, .header__feedback:focus .header__phone-icon {
        fill: #98F23D;
        -webkit-transition: fill 0.3s ease-in-out;
        -o-transition: fill 0.3s ease-in-out;
        transition: fill 0.3s ease-in-out; }
    .header__feedback:active {
      color: #19400B; }
      .header__feedback:active .header__phone-icon {
        fill: #19400B; }
  .header__phone-icon {
    margin-right: 9px; }

@media (min-width: 768px) {
  .header {
    min-height: 64px; }
    .header__nav {
      margin-left: 49px;
      padding: 20px 23px; }
    .header__menu {
      display: none; }
    .header__listNav {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      width: auto;
      top: auto;
      left: auto;
      padding: 0;
      background-color: transparent;
      color: inherit;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .header__linkNav a {
      padding: 0;
      margin-right: 16px; }
      .header__linkNav a.active {
        color: #98F23D;
        background-color: transparent; }
    .header__feedback {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .header__phone-icon {
      margin-right: 16px; } }

@media (min-width: 1200px) {
  .header__nav {
    margin-left: 98px;
    padding: 20px 50px; }
  .header__linkNav a {
    padding: 0 16px;
    margin-right: 42px; } }

@media (min-width: 1600px) {
  .header__nav {
    margin-left: 132px; }
  .header__linkNav a {
    margin-right: 60px; } }

.banner__image {
  width: 100%;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

.banner__container {
  position: relative;
  padding: 0;
  padding-top: 32px;
  padding-bottom: 32px; }

.banner__blockTitle {
  background: rgba(255, 255, 255, 0.7);
  padding: 26px 45px 45px;
  width: 100%;
  position: relative; }

.banner__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  position: relative;
  color: #19400B; }
  .banner__title::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -24px;
    width: 8px;
    background-color: #98F23D; }

.banner__price {
  font-weight: 600;
  font-size: 18px;
  line-height: 78px;
  text-transform: uppercase; }

.banner__priceVal {
  font-weight: bold;
  font-size: 30px;
  line-height: 78px;
  margin-left: 9px;
  color: #19400B; }

.banner__btn {
  color: #FFFFFF;
  background-color: #19400B; }
  .banner__btn--long {
    width: 278px;
    margin: 0 auto; }
  .banner__btn--short {
    width: 146px;
    margin: 0 auto; }

.banner__blockPromo {
  background-color: #98F23D;
  color: #3D7C27;
  position: relative; }
  .banner__blockPromo::after {
    content: "";
    display: block;
    position: absolute;
    top: 32px;
    right: 32px;
    bottom: 32px;
    width: 5px;
    background-color: #f6f8fb; }
  .banner__blockPromo--desk {
    display: none; }

.banner__promoText {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px; }

.banner__promoCode {
  font-weight: bold;
  font-size: 22px;
  line-height: normal; }

.banner__blockAdvantage {
  position: relative;
  background-color: #98F23D; }
  .banner__blockAdvantage::before {
    content: "";
    display: block;
    position: absolute;
    top: 24px;
    bottom: 75px;
    left: 24px;
    width: 5px;
    background-color: #f6f8fb; }
  .banner__blockAdvantage--desk {
    display: none; }
  .banner__blockAdvantage--mob {
    padding: 24px 45px; }

.banner__advantageTitle {
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 8px;
  color: #3D7C27; }

.banner__advantageText {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 26px; }

@media (min-width: 768px) {
  .banner__container {
    padding: 61px 32px 44px; }
  .banner__blockTitle {
    margin: 0 auto;
    width: 598px;
    padding: 30px 60px; }
  .banner__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 50px; }
  .banner__price {
    font-size: 24px;
    line-height: 78px;
    margin-bottom: 13px; }
  .banner__priceVal {
    font-size: 36px;
    line-height: 78px; }
  .banner__blockPromo--desk {
    display: block; }
  .banner__blockPromo--mob {
    display: none; }
  .banner__blockAdvantage {
    position: relative;
    margin: 0 auto;
    margin-top: 38px;
    width: 598px;
    padding: 23px 178px 15px 64px; }
    .banner__blockAdvantage::before {
      top: 9px;
      bottom: 15px;
      left: 34px;
      width: 5px; }
    .banner__blockAdvantage--desk {
      display: block; }
    .banner__blockAdvantage--mob {
      display: none; }
  .banner__advantageTitle {
    font-weight: 500;
    font-size: 28px;
    line-height: 32px; }
  .banner__advantageText {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px; }
  .banner__btn--short {
    position: absolute;
    bottom: 16px;
    right: 26px; } }

@media (min-width: 1200px) {
  .banner__container {
    padding-top: 69px;
    padding-bottom: 32px; }
    .banner__container--promo {
      padding-bottom: 180px; }
  .banner__blockTitle {
    margin: 0;
    padding: 23px 72px 30px;
    width: 600px; }
  .banner__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    position: relative; }
    .banner__title::before {
      top: 0;
      bottom: 0;
      left: -25px;
      width: 8px; }
  .banner__price {
    font-weight: 600;
    font-size: 24px;
    line-height: 78px;
    margin-bottom: 40px;
    text-transform: uppercase; }
  .banner__priceVal {
    font-weight: bold;
    font-size: 36px;
    line-height: 78px;
    margin-left: 9px; }
  .banner__blockPromo {
    position: absolute;
    bottom: -100px;
    right: -174px;
    width: 290px;
    padding: 31px 35px 40px; }
    .banner__blockPromo::after {
      top: 32px;
      right: 32px;
      bottom: 32px;
      width: 5px; }
  .banner__promoText {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px; }
  .banner__promoCode {
    font-weight: bold;
    font-size: 29px;
    line-height: normal; }
  .banner__blockAdvantage {
    margin-right: 0;
    margin-left: 0; } }

.aboutUs__container {
  padding-top: 64px;
  padding-bottom: 32px; }

.aboutUs__text {
  margin: 0; }

.aboutUs__sliderElem {
  width: 355px;
  height: 205px;
  margin-right: 8px;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

@media (min-width: 768px) {
  .aboutUs__container {
    padding-top: 75px;
    padding-bottom: 0px; }
  .aboutUs__textBlock {
    margin: 0 90px;
    padding: 42px 38px 40px;
    border: 2px solid #3D7C27;
    border-bottom: none; }
  .aboutUs__sliderBlock {
    margin-top: -16px; }
  .aboutUs__sliderElem {
    width: 632px;
    height: 360px;
    margin-right: 0; }
  .aboutUs__sliderElem {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9); }
    .aboutUs__sliderElem + .slick-center {
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      opacity: 1;
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); } }

@media (min-width: 1200px) {
  .aboutUs__container {
    padding: 75px 70px 0px; }
  .aboutUs__textBlock {
    margin: 0 90px;
    padding: 42px 60px 80px; }
  .aboutUs__sliderBlock {
    padding: 0 70px;
    margin: 0 auto;
    margin-top: -16px;
    width: 1200px; }
  .aboutUs__sliderElem {
    width: 568px;
    height: 326px; }
  .aboutUs__sliderElem {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9); }
    .aboutUs__sliderElem + .slick-center {
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      opacity: 1;
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); } }

@media (min-width: 1600px) {
  .aboutUs__sliderBlock {
    width: 1600px; }
  .aboutUs__sliderElem {
    width: 895px;
    height: 510px; } }

.advantages__container {
  padding-top: 64px;
  padding-bottom: 40px; }

.advantages__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.advantages__item {
  text-align: center;
  margin-bottom: 37px; }
  .advantages__item:last-of-type {
    margin-bottom: 0; }

.advantages__icon {
  margin-bottom: 18px; }

.advantages__name {
  font-weight: 300; }

@media (min-width: 768px) {
  .advantages__container {
    padding-top: 78px;
    padding-bottom: 54px; }
  .advantages__block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
  .advantages__item {
    margin-bottom: 0; } }

@media (min-width: 1200px) {
  .advantages__container {
    padding: 40px 85px 70px; }
  .advantages__block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .advantages__item {
    text-align: center; }
  .advantages__icon {
    margin-bottom: 30px; }
  .advantages__name {
    font-weight: 300; } }

.available-objects {
  padding-top: 40px;
  padding-bottom: 30px; }
  .available-objects__sliderBlock {
    margin-bottom: 32px; }
  .available-objects__sliderItems {
    width: 380px;
    margin-right: 23px;
    margin-bottom: 8px; }
  .available-objects__buttonBlock {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .available-objects__btn {
    width: 276px; }
    .available-objects__btn--callback {
      margin-bottom: 11px; }

@media (min-width: 768px) {
  .available-objects {
    padding-top: 52px;
    padding-bottom: 40px; }
    .available-objects__sliderBlock {
      margin-bottom: 74px; }
    .available-objects__sliderItems {
      width: 550px; }
    .available-objects__buttonBlock {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; }
    .available-objects__btn--callback {
      margin-bottom: 0px; } }

@media (min-width: 1200px) {
  .available-objects {
    padding-top: 74px;
    padding-bottom: 62px; }
    .available-objects__sliderBlock {
      margin-bottom: 48px; } }

.video-objects__container {
  padding: 0;
  padding-top: 30px;
  padding-bottom: 32px; }

.video-objects__sliderBlock .slick-dots {
  margin-top: 60px; }

.video-objects__sliderItem {
  width: 100vw;
  position: relative;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-right: 12px; }

.video-objects__sliderContent {
  padding: 32px 16px; }

.video-objects__sliderTitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #3D7C27;
  text-align: center;
  margin: 0;
  margin-bottom: 16px; }

.video-objects__sliderImg {
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
      -ms-flex-order: 0;
          order: 0;
  width: 100%;
  height: 211.36px;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.video-objects__btnNext {
  width: 276px;
  margin: 0 auto; }

@media (min-width: 768px) {
  .video-objects__container {
    padding: 0 32px;
    padding-top: 40px;
    padding-bottom: 40px; }
  .video-objects__sliderBlock .slick-dots {
    margin-top: 35px; }
  .video-objects__sliderItem {
    padding-top: 276px;
    position: relative; }
  .video-objects__sliderContent {
    padding: 100px 70px 40px;
    border: 2px solid #3D7C27; }
  .video-objects__sliterTitle {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #3D7C27;
    margin-bottom: 16px; }
  .video-objects__sliderImg {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    width: 608px;
    top: 0px;
    height: 350px;
    -webkit-background-size: cover;
            background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .video-objects__btnNext {
    display: none; } }

@media (min-width: 1200px) {
  .video-objects__container {
    padding: 0 16px;
    padding-top: 48px;
    padding-bottom: 70px; }
  .video-objects__sliderBlock .slick-dots {
    margin-top: 60px; }
  .video-objects__sliderItem {
    width: 100%;
    position: relative;
    padding-top: 0; }
  .video-objects__sliderContent {
    width: 608px;
    margin-right: 0;
    margin-left: auto;
    padding: 60px 58px 125px 100px;
    border: 2px solid #3D7C27; }
  .video-objects__sliderTitle {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #3D7C27;
    margin-bottom: 16px;
    text-align: start; }
  .video-objects__sliderImg {
    height: auto;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    left: 0;
    margin: 0;
    top: 50px;
    bottom: 50px;
    z-index: 1; } }

@media (min-width: 1600px) {
  .video-objects__container {
    padding: 0 70px;
    padding-top: 77px;
    padding-bottom: 77px; }
  .video-objects__sliderItem {
    padding-bottom: 86px; }
  .video-objects__sliderContent {
    width: 677px;
    padding: 60px 32px 85px 153px;
    border: 2px solid #3D7C27; }
  .video-objects__sliderImg {
    width: 845px;
    top: 50px;
    bottom: 0px;
    z-index: 1; } }

.reviews__container {
  padding-top: 32px;
  padding-bottom: 32px; }

.reviews__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.reviews__hiddenBlock {
  display: none; }
  .reviews__hiddenBlock .reviews__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

.reviews__item {
  width: 320px;
  display: none; }
  .reviews__item:first-of-type {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

.reviews__img {
  width: 114px;
  height: 114px;
  overflow: hidden;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  margin-bottom: 38px; }

.reviews__btnMore {
  width: 278px;
  margin: 0 auto;
  margin-top: 42px; }

@media (min-width: 768px) {
  .reviews__container {
    padding-top: 40px;
    padding-bottom: 40px; }
  .reviews__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .reviews__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 220px; }
    .reviews__item:first-of-type {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    .reviews__item:last-of-type {
      display: none; }
  .reviews__btnMore, .reviews__hiddenBlock {
    display: none !important; } }

@media (min-width: 1200px) {
  .reviews__container {
    padding-top: 70px;
    padding-bottom: 100px; }
  .reviews__item {
    width: 320px; }
    .reviews__item:last-of-type {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }

.contentBlock-address--main .contentBlock-address__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: #98F23D;
  margin-bottom: 16px; }

.contentBlock-address--main .contentBlock-address__row {
  margin-bottom: 12px; }

.contentBlock-address--main .contentBlock-address__bold {
  padding-left: 24px; }

.contentBlock-address__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 24px; }

.contentBlock-address__bold {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  padding-left: 4px; }

.contentBlock-address__row {
  white-space: nowrap; }

.contentBlock-office {
  padding: 20px 16px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative; }
  .contentBlock-office__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .contentBlock-office__image {
    width: 45%;
    height: 226.82px;
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%; }
  .contentBlock-office__content {
    width: 50%; }
  .contentBlock-office__body {
    padding: 0 13px; }
  .contentBlock-office__title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 31px;
    color: #19400B; }
    .contentBlock-office__title span {
      padding: 0 4px; }
  .contentBlock-office__data {
    margin-bottom: 20px; }
  .contentBlock-office__dataItem {
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    margin-bottom: 15px; }
    .contentBlock-office__dataItem:last-of-type {
      margin-bottom: 0; }
    .contentBlock-office__dataItem span {
      padding: 0 4px; }
    .contentBlock-office__dataItem--class {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .contentBlock-office__dataItem--class span {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 38px;
        height: 38px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        border: 2px solid #19400B;
        font-size: 24px;
        line-height: 20px;
        color: #98F23D;
        padding: 0;
        margin-left: 12px; }
  .contentBlock-office__footer {
    padding: 0 13px; }
  .contentBlock-office__price {
    color: #19400B;
    font-size: 16px;
    line-height: 0;
    white-space: nowrap; }
    .contentBlock-office__price span {
      font-weight: 900;
      font-size: 24px;
      color: #98F23D;
      margin-left: 11px; }
  .contentBlock-office__description {
    font-size: 16px;
    line-height: 24px;
    margin-top: 29px;
    width: 100%; }
  .contentBlock-office__favorites {
    position: absolute;
    top: 13px;
    right: 21px; }
    .contentBlock-office__favorites.active .contentBlock-office__icon-favorites {
      fill: #98F23D; }
  .contentBlock-office__icon-favorites {
    width: 24px;
    height: 24px; }

@media (min-width: 1200px) {
  .contentBlock-office {
    padding: 16px; }
    .contentBlock-office__body {
      padding: 0 18px;
      padding-top: 12px; }
    .contentBlock-office__footer {
      padding: 0 18px; }
    .contentBlock-office__image {
      width: 215px;
      height: 230px; }
    .contentBlock-office__title {
      margin-bottom: 19px; }
    .contentBlock-office__price span {
      font-weight: bold;
      font-size: 24px;
      margin-left: 31px; }
    .contentBlock-office__icon-favorites {
      width: 32px;
      height: 32px; } }

.feedback__container {
  padding-top: 30px;
  padding-bottom: 41px;
  background-color: #3D7C27; }

.feedback__wrapper {
  padding: 16px 33px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.feedback__address {
  color: #19400B;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  width: 100%;
  max-width: 363px; }

.feedback__form {
  margin-bottom: 22px;
  max-width: 363px; }

.feedback__img {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  width: 100%;
  height: 340px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.feedback__fill {
  background-color: #3D7C27; }

.feedback__containerFill {
  padding: 0; }

.feedback__wrapperFill {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.feedback__formFill {
  padding: 34px 0px 50px;
  max-width: 320px; }

@media (min-width: 768px) {
  .feedback__container {
    padding-top: 40px;
    padding-bottom: 0;
    margin-bottom: 210px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .feedback__wrapper {
    padding: 40px 10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .feedback__address {
    color: #19400B;
    width: auto;
    min-width: 220px;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0; }
  .feedback__form {
    margin-left: 34px;
    width: 370px; }
  .feedback__img {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
    width: 45%; }
    .feedback__img--left {
      margin-right: 45px; }
    .feedback__img--right {
      margin-left: 45px; }
  .feedback__containerFill {
    padding: 0 32px; }
  .feedback__wrapperFill {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .feedback__formFill {
    padding: 55px 0px; } }

@media (min-width: 1200px) {
  .feedback__container {
    padding-top: 100px;
    padding-bottom: 190px;
    margin-bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #324057; }
  .feedback__wrapper {
    margin: 0 auto;
    background-color: #3D7C27;
    padding: 40px 33px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .feedback__address {
    color: #19400B;
    min-width: 220px; }
  .feedback__form {
    margin-left: 86px; }
  .feedback__img--left {
    margin-right: 90px; }
  .feedback__img--right {
    margin-left: 90px; }
  .feedback__containerFill {
    padding: 0 70px; } }

@media (min-width: 1600px) {
  .feedback__img {
    width: 776px; }
    .feedback__img--left {
      margin-right: 154px; } }

.contentBlock-feedbackForm__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.contentBlock-feedbackForm__input {
  margin-bottom: 20px; }

.contentBlock-feedbackForm__checkbox {
  margin-bottom: 20px; }

.contentBlock-feedbackForm__btn {
  margin: 0 auto;
  padding-right: 16px;
  padding-left: 16px; }

.contentBlock-feedbackForm__link:hover {
  color: #98F23D; }

.footer__container {
  background-color: #98F23D; }

.footer__nav {
  margin-right: 98px;
  background-color: #19400B;
  min-height: 48px; }

.breadcrumbs__container {
  padding: 0 15px;
  padding-top: 39px;
  padding-bottom: 39px;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px; }

.breadcrumbs__link {
  padding: 0 4px; }
  .breadcrumbs__link:last-of-type ~ span {
    display: none; }

.discounts__container {
  padding-bottom: 45px; }

.discounts__item {
  margin-bottom: 50px; }
  .discounts__item:last-of-type {
    margin-bottom: 0; }

.discounts__date {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  border-bottom: 1px solid #19400B; }
  .discounts__date span {
    padding: 0 4px; }

.discounts__body {
  padding: 20px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.discounts__img {
  width: 100%;
  height: 253px;
  margin-bottom: 30px;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.discounts__name {
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
  color: #3D7C27;
  margin-bottom: 4px; }

.discounts__note {
  margin-top: 16px; }

.discounts__btnMore {
  width: 276px;
  margin: 0 auto;
  margin-top: 50px; }

@media (min-width: 768px) {
  .discounts__container {
    padding-bottom: 24px; }
  .discounts__item {
    margin-bottom: 32px; }
  .discounts__date {
    text-align: start; }
  .discounts__body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .discounts__img {
    width: 255px;
    height: 255px;
    margin-right: 27px;
    margin-bottom: 0; }
  .discounts__textBlock {
    width: 70%; }
  .discounts__name {
    font-size: 24px;
    margin-bottom: 16px; }
  .discounts__note {
    margin-top: 16px; }
  .discounts__btnMore {
    display: none; } }

@media (min-width: 1200px) {
  .discounts__container {
    padding-bottom: 62px; }
  .discounts__item {
    margin-bottom: 50px; }
  .discounts__textBlock {
    width: 824px; } }

@media (min-width: 1600px) {
  .discounts__container {
    padding-bottom: 70px; }
  .discounts__item {
    margin-bottom: 64px; }
  .discounts__img {
    width: 371px;
    height: 255px;
    margin-right: 24px; }
  .discounts__textBlock {
    width: 1053px; } }

.map {
  position: relative; }
  .map--main {
    margin-bottom: 120px; }
    .map--main .map__wrapper {
      width: 100%;
      height: 475px; }
    .map--main .map__address {
      position: absolute;
      top: 15px;
      background-color: #3D7C27;
      padding: 20px 16px 48px; }
  .map__wrapper {
    width: 100%;
    height: 650px;
    -webkit-background-size: cover;
            background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .map__address {
    position: absolute;
    top: 96px;
    left: 50%;
    background-color: #19400B;
    padding: 40px 33px 64px;
    color: #FFFFFF;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }

@media (min-width: 768px) {
  .map--main {
    margin-bottom: 93px; }
    .map--main .map__wrapper {
      width: 100%;
      height: 631px; }
  .map__wrapper {
    height: 420px; }
  .map__address {
    top: 57px;
    left: 32px;
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%); } }

@media (min-width: 1200px) {
  .map__wrapper {
    height: 480px; }
  .map__address {
    top: 126px;
    left: 50%;
    -webkit-transform: translateX(-50%) translateX(-350px);
        -ms-transform: translateX(-50%) translateX(-350px);
            transform: translateX(-50%) translateX(-350px); } }

@media (min-width: 1600px) {
  .map--main {
    margin-bottom: 93px; }
    .map--main .map__wrapper {
      width: 100%;
      height: 707px; }
  .map__address {
    -webkit-transform: translateX(-50%) translateX(-592px);
        -ms-transform: translateX(-50%) translateX(-592px);
            transform: translateX(-50%) translateX(-592px); } }

.choice__container {
  padding-bottom: 45px; }

.choice__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.choice__item {
  width: 100%;
  max-width: 400px;
  margin-bottom: 50px; }
  .choice__item:last-of-type {
    margin-bottom: 0; }
  .choice__item--img {
    height: 306px;
    -webkit-background-size: cover;
            background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }

.choice__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 26px; }

.choice__number {
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
  color: #98F23D; }

.choice__subtitle {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  margin: 0;
  margin-left: 10px;
  margin-bottom: 5px;
  color: #3D7C27;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px; }
  .choice__subtitle::after {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    background-color: #19400B;
    bottom: 0;
    left: 0;
    right: 0; }

@media (min-width: 768px) {
  .choice__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .choice__item {
    width: 48%;
    max-width: 100%;
    height: 300px;
    margin-bottom: 40px; }
    .choice__item--text {
      padding: 15px 30px; } }

@media (min-width: 1200px) {
  .choice__container {
    padding-bottom: 60px; }
  .choice__item {
    width: 353px;
    height: 353px;
    margin-bottom: 0; } }

@media (min-width: 1600px) {
  .choice__container {
    padding-bottom: 80px; }
  .choice__item {
    width: 486px;
    height: 360px; } }

.history {
  position: relative; }
  .history__container {
    padding-top: 52px;
    padding-bottom: 77px; }

@media (min-width: 768px) {
  .history {
    position: relative; }
    .history__container {
      padding-top: 100px;
      padding-bottom: 30px; }
    .history__text {
      padding-right: 195px; }
    .history__cubes {
      position: absolute;
      top: 0px;
      bottom: 0;
      margin: auto 0;
      right: 0;
      width: 120px;
      height: 140px;
      background-color: #3D7C27; }
      .history__cubes::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 74px;
        left: -56px;
        width: 112px;
        height: 118px;
        background-color: #98F23D; } }

@media (min-width: 1200px) {
  .history {
    position: relative; }
    .history__container {
      padding-bottom: 100px; }
    .history__text {
      padding-right: 220px; }
    .history__cubes {
      top: auto;
      bottom: 83px;
      right: 0;
      width: 150px;
      height: 180px; }
      .history__cubes::after {
        bottom: 94px;
        left: -70px;
        width: 140px;
        height: 150px; } }

@media (min-width: 1600px) {
  .history {
    position: relative; }
    .history__container {
      padding-top: 144px;
      padding-bottom: 200px; }
    .history__text {
      padding-right: 230px; }
    .history__cubes {
      bottom: 120px; } }

.premises__container {
  padding-bottom: 35px; }

.premises__head, .premises__footer {
  display: none; }

.premises__pagination {
  display: none; }

.premises__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.premises__item {
  width: 100%;
  max-width: 550px;
  margin-bottom: 24px; }
  .premises__item:last-of-type {
    margin-bottom: 0; }

.premises__btnMore {
  width: 276px;
  margin: 0 auto;
  margin-top: 24px; }

@media (min-width: 768px) {
  .premises__head, .premises__footer {
    display: block; }
  .premises__head {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .premises__pagination {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .premises__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: initial;
    -webkit-align-items: initial;
        -ms-flex-align: initial;
            align-items: initial; }
  .premises__item {
    width: 48.5%;
    margin-bottom: 16px; }
  .premises__btnMore {
    display: none; } }

@media (min-width: 1200px) {
  .premises__item {
    width: 523px;
    margin-bottom: 16px; } }

@media (min-width: 1600px) {
  .premises__container {
    padding-bottom: 45px; }
  .premises__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .premises__item {
    width: 475px;
    margin-right: 16px; }
    .premises__item:nth-of-type(3n) {
      margin-right: 0; } }

.pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 16px 0; }
  .pagination__selector {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    margin-right: 28px; }
    .pagination__selector-choise {
      padding: 0 4px;
      cursor: pointer; }
      .pagination__selector-choise.active .pagination__icon-down {
        -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
                transform: rotate(180deg); }
  .pagination__selectorList {
    position: absolute;
    top: 100%;
    right: -24px;
    background-color: #FFFFFF;
    padding: 12px 0px;
    z-index: 1;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  .pagination__selectorItem {
    padding: 6px 24px;
    margin-bottom: 8px; }
    .pagination__selectorItem:last-of-type {
      margin-bottom: 0; }
    .pagination__selectorItem.active {
      background-color: #324057;
      color: #3D7C27;
      position: relative; }
      .pagination__selectorItem.active::after {
        content: "";
        display: block;
        position: absolute;
        top: 12px;
        right: 15px;
        width: 8px;
        height: 4px;
        border-bottom: 1px solid #3D7C27;
        border-left: 1px solid #3D7C27;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg); }
  .pagination__pagesInfo {
    font-size: 14px;
    line-height: 20px;
    color: #626B74;
    margin-right: 28px; }
    .pagination__pagesInfo span {
      padding: 0 2px; }
  .pagination__pages {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .pagination__pagesList {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding: 0 10px; }
  .pagination__pagesItem {
    padding: 0 4px; }
    .pagination__pagesItem .active {
      color: #3D7C27; }
  .pagination__control {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .pagination__icon-down {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .pagination__icon-prev.disabled, .pagination__icon-next.disabled {
    fill: #626B74; }

.office-info__title span {
  padding: 0 6px; }

.office-info__infoBlock {
  margin-bottom: 85px; }

.office-info__subtitle {
  margin: 0;
  margin-bottom: 30px;
  color: #3D7C27; }

.office-info__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.office-info__item {
  width: 100%;
  margin-bottom: 40px; }
  .office-info__item:last-of-type {
    margin-bottom: 0; }
  .office-info__item--options {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    width: 100%; }

.office-info__metroItem {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px; }
  .office-info__metroItem:last-of-type {
    margin-bottom: 0; }

.office-info__subwayName, .office-info__time {
  padding: 0 6px;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px; }

.office-info__subwayIcon.orange {
  fill: #ee7c13; }

.office-info__subwayIcon.red {
  fill: #f32f24; }

.office-info__options {
  margin-right: 63px; }

.office-info__sliderElem {
  width: 360px;
  height: 210px;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 12px; }

@media (min-width: 768px) {
  .office-info__infoBlock {
    border: 2px solid #3D7C27;
    border-bottom: none;
    padding: 40px;
    margin-bottom: 0; }
  .office-info__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .office-info__item {
    width: 45%; }
    .office-info__item:nth-last-child(2) {
      margin-bottom: 0; }
    .office-info__item--options {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      width: 45%; }
  .office-info__sliderElem {
    width: 642px;
    height: 360px; }
  .office-info__sliderBlock {
    margin-top: -16px; }
  .office-info__sliderElem {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
    margin-right: 0; }
    .office-info__sliderElem + .slick-center {
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      opacity: 1;
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); } }

@media (min-width: 1200px) {
  .office-info__infoBlock {
    margin: 0 38px; }
  .office-info__item {
    width: 32%; }
    .office-info__item--options {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      width: 100%; }
  .office-info__metroItem {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px; }
    .office-info__metroItem:last-of-type {
      margin-bottom: 0; }
  .office-info__sliderBlock {
    width: 1200px;
    padding: 0 70px;
    margin-left: auto;
    margin-right: auto; } }

@media (min-width: 1600px) {
  .office-info__infoBlock {
    border: 2px solid #3D7C27;
    border-bottom: none;
    padding: 50px 100px 120px;
    margin: 0 90px; }
  .office-info__subtitle {
    margin: 0;
    margin-bottom: 35px; }
  .office-info__sliderElem {
    width: 900px;
    height: 500px; }
  .office-info__sliderBlock {
    width: 1600px; }
  .office-info__sliderBlock {
    margin-top: -25px; } }

.pbt-list__listTitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 14px; }

.pbt-list__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.pbt-list__listItem {
  padding: 6px 10px;
  font-size: 14px;
  line-height: 20px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  border: 1px solid #626B74;
  margin-right: 16px;
  margin-bottom: 13px; }

.pbt-listIcon__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 13px; }

.pbt-listIcon__listItem {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 13px; }

.pbt-listIcon__icon {
  margin-right: 10px; }

.pbt-table__tableTitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 13px; }

.pbt-table__cell {
  padding-bottom: 12px;
  white-space: nowrap; }
  .pbt-table__cell--left {
    padding-right: 24px;
    color: #19400B; }
